.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.general {
  text-align: center;
}

.button {
  cursor: pointer;
}

.labelQuestion {
  display: block;
  text-align: center;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 20px;
}
